
.humanifychat{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: max-content;
    width:50%;
   
}
.color{
    margin-top: 80px;
    background: url('../humanifymain/images/cw.jpg');
    background-color: rgba(255, 255, 255, 0.932);
    overflow-y: scroll;
    height: 86vh;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
 
    width: 80%;
   
}

.dp{
    border-radius: 40%;
    height: 40px;
    margin-top: -20px;
  }
  
  .chatp {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow-wrap: break-word;
    max-width: 300px;
  }
  
  .msg {
    display: flex;
    padding: 0px 10px 0 20px;
    margin: 16px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(54, 47, 47);
    align-items: center;
  }
  
  .sent {
    background-color: #005b77e5;
    color: rgb(255, 255, 255);
    flex-direction: row-reverse;
    padding: 20px 6px 0 4px;
    text-align: end;
    float: right;
   
  }
  .recived {
    background-color: #818181ab;
    color: rgb(255, 255, 255);
    flex-direction: row;
    padding: 20px 20px 0 10px;
    text-align: end;
    float: left;
  }
  
  /* .received {
    background-color: #596ece;
    color: white;
    border-top-right-radius: 1000px;
    flex-direction: row-reverse;
    padding: 20px 20px 0 10px;
    text-align: end;
    width: min-content;
  
    float: left;
  }
   */
  .sendMsg {
    position: fixed;
    display: flex;
    width: 10%;
    bottom: 0;
    z-index: 1;
    border-top: 1px solid lightgray;
    margin-left: 5px;
    padding: 10px;
    padding-bottom: 30px;
   
  }
  
  .msgs {
    margin: 1px 0 30px 0;
    display: flex;
    flex-direction: column;
  }
  .sendmsginput{
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
      display: flex;
      justify-content: space-between;
      align-items: left;
      background-color:#181212;
      padding: 10px 10px 7px;
      max-width: 770px;
     
  }

  .formchat{
    height: 8vh;
    position: fixed;
    bottom: 4px;
    background-color:#01738f;
    width: 100%;
    max-width: 418px;
    display: flex;
    font-size: 1.2rem;
    border-radius: 20px;
  }
  .typechat{

      margin: 0;
      font-size: 1.2vmax !important;
      width: 700px;
      color:rgb(255, 255, 255 ) !important;
      border:none;
  }
  .sendbutton{
      
    color: wheat !important;
      background-color:#000000e5 !important;
  }
  .center{
      justify-content: end;
  }
  
  @media (max-width: 775px) {
    chatp {
      font-size: 20px;
    }
    .sent {
      padding: 10px 10px 0 10px;
    }
    .received {
      padding: 10px 10px 0 10px;
    }
    .dp {
      height: 35px;
      margin-top: -10px;
    }
  }
  
  @media (max-width: 500px) {
    chatp {
      font-size: 15px;
    }
    .sent {
      padding: 7px 7px 0 7px;
    }
    .received {
      padding: 7px 7px 0 7px;
    }
    .dp {
      height: 30px;
      margin-top: -7px;
    }
  }
  

