body{
    background:url(../humanifymain/images/sa.gif);
    background-repeat: no-repeat;
    background-position:right;
    background-size:50%;
background-clip: border-box;
    background-color: #042234;
    background-attachment: fixed;
}

.slider{
    height: 20px;
    border: 1px solid rgb(0, 80, 112);
    border-radius: 2px;
    width: 600px;
    background-color:#042234;
  border-radius: 2px;
}

.thumb{
    background-color: rgba(0, 90, 131, 0.925);
    cursor:pointer;
    width:42px;
    height: 22px;
    border-radius: 2px;
   
}

.slider.green{
    border: 2px solid green;
}
.slider.green .thumb{
    background-color:green;
}
.slidermain{
    width: 80%;
}
label{
color: aliceblue;
font-size: 1vw;
padding: 2px;
}
.circular{
    width: 30%;
   
}
