.timer-main{
    padding-top: 1vmax;
    margin: 0 auto;
    text-align: center;
   
}

.timerbutton{
    background-color: transparent;
    color: white;
    border: 0;
    display: inline-block;
    width:8vmax;
    cursor: pointer;
    padding: 10px;
  
}

.timermusic{
    display: flex;
    justify-content: center;
    align-items: center;
}
